[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
rumps = "*"
py2app = "*"
flask = "*"
flask-restful = "*"
peewee = "*"

[dev-packages]

[requires]
python_version = "3.9"
